body{
    padding: 0;
    margin: 0;
    background-image: url('background.png');
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: Tahoma, Arial, sans-serif;
}

header{
    background-image: url('bannerbg.png');
    width: 100%;
    height: 4rem;
}
.banner-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 footer{
    background-color:  #5d8b3e;  
    width: 90%;
    height: 2rem;
    text-align: center;
    margin: auto;
   align-items: center;
   justify-content: center;
    border-radius: 0 0 40px 40px ;
    border: 2px solid gray;
    border-top: none;
} 
.footer-text{
    z-index: 100;
    margin-top: 0.5vh;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Calibri, sans-serif;
    text-shadow: 2px 2px #999999;
}
dl{
    padding: 1.5rem; 
}
dt{
    font-weight: bold;
    margin-top: 0.9rem;
}
.page-content{
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid gray;
    border-bottom: none;
    width: 90%;  
    margin-left: auto;
    margin-right: auto;
    background-color: #5d8b3e ;
    border-radius: 40px 40px 0 0 ;
}
/* ------------------------------------------------ */
.comment{
    border: 2px solid gray;
    border-radius: 20px;
    margin: 10px 30px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e3daa3;   
}
.critic-icon{
    float:left;
    margin-right: 5px;
}

.commented-user{
    font-style: italic;
    margin: 10px 30px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.comments-header{
    background-image: url('rbg.png');
    height: 83px;
    border-radius: 37px 0 0 0 ;
    display: flex;
    flex-direction: row;
}
.tomato-fresh{
    border-radius: 37px 0 0 0 ;
}
.fresh-persent{
    color: red;
    font-size: 4rem;
    font-weight: bold;
    height: 90px;
    margin-top: 10px;
}
/*----------------------*/
.movie-summary{
    background-color: #5d8b3e;
    border-radius:  0 37px 0 0 ;
    color : #f1f1e4da;
    max-width: 40vh;
}

.comments-area{
    display: flex;
    flex-direction: row;
    height: 94.5%;
    /* min-width: 80vh; */
    background-image: url('background.png');
}

.left-side >p{
    margin-left: 50px;
}

.comment-header{
    height: 83px;
}

.movie-image{
    border-radius:  0 37px 0 0 ; 
    width: 100%;
}
/* ---------------- */ 
 
@media only screen and (max-width: 1000px) {
    .page-content{
      display: flex;
      flex-direction: column;
      width: 90%;   
      margin-left: auto;
      margin-right: auto;

      border: 2px solid gray;
    }
    .banner-image{
        max-width: 100%;
     }
    .comments-wrapper{
        display: flex;
        flex-direction: column;
    }
    .tomato-fresh{
        border-radius: initial;
        height: 83px;
    }
    .movie-image{
        border-radius:  37px 37px 0 0 ;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: fill;
        width: 88vw;;
    }
    .movie-summary{
        border-radius:  37px 37px 0 0 ;
        width: 90vw; 
    }
    .comments-header{
        display: flex;
        flex-direction: row;
        width: 88vw; 
    }
    .comments-area{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .footer{
        width: 90%;
    }
  }